<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']">
    <nav class="w-full flex justify-between px-4 py-3">
      <a href="/"> <h3 class="text-xl">SAP</h3>
      </a> 
        <% var loggedin =typeof loggedin !=="undefined" ? loggedin : true %>
        <% if(loggedin) { %>

            <div class="flex gap-8">
                <a href="/shop">shop</a>
                <a href="/cart">cart</a>
                <a href="/profile">My Account</a>
                <a class="text-red-500" href="/logout">logout</a>
            </div>
            <% } %>
    </nav>